[Unit]
Description=Server For Get/Set Settings

[Service]
Type=simple

Restart=always
RestartSec=1

WorkingDirectory=/home/a1/a1parkV2-tg/server
ExecStart=/usr/bin/python3 manage.py runserver 0.0.0.0:2203


[Install]
WantedBy=multi-user.target