[Unit]
Description=ParkingCore

[Service]
Type=simple

Restart=always
RestartSec=1

WorkingDirectory=/home/pi/a1parkV2-tg/bot
ExecStart=/usr/bin/sudo /usr/bin/python3 start.py

[Install]
WantedBy=multi-user.target