[Unit]
Description=Telegram Bot

[Service]
Type=simple

Restart=always
RestartSec=1

WorkingDirectory=/home/a1/a1parkV2-tg/bot
ExecStart=/usr/bin/python3 start.py

[Install]
WantedBy=gunicorn.service